chain: rollup-local-seq
domainZone: gasp.xyz
command: /app/node
isParachain: false
isCollator: false
disableChainspecGeneration: true
role: collator
remoteCluster: true
image:
  repository: mangatasolutions/rollup-node
wsHealthExporter:
  enabled: false
enablePodMonitoringCollectors: false
enableServiceMonitorCollectors: false
storageClass: standard
storageSize: 5Gi
resources:
  requests:
    cpu: 0.1
    memory: 1Gi
  limits:
    cpu: 1
    memory: 2Gi
