.git
.github
.vscode
Dockerfile*

./contracts/script/output/**/*
ops/**/data
**/out
.env
.moon/cache
moon.yml


**/target
**/target-*
!**/release/main
!**/release/rollup-node

build
**/build
*.tar
*.tar.zst
*-buildkit-metadata.json

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
