[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/eigenlayer-middleware"]
	path = contracts/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware
	branch = m2-mainnet
[submodule "rolldown-contract/lib/openzeppelin-contracts"]
	path = rolldown-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "avs-eigensdk-go"]
	path = avs-eigensdk-go
	url = https://github.com/mangata-finance/eigensdk-go
