name: rollup

include:
  - path: ./avs-aggregator/compose.yml
  - path: ./avs-finalizer/compose.yml
  - path: ./rollup-sequencer/compose.yml
  - path: ./rollup-updater/compose.yml
  - path: ./contracts/compose.yml
  - path: ./gasp-syncer/compose.yml

services:
  eth-stub:
    image: ghcr.io/foundry-rs/foundry:nightly-2f4b5dbe7f04d974bf99625325200d214089ee66
    platform: linux/amd64
    ports:
      - 8545:8545
    entrypoint: anvil
    command: --host 0.0.0.0 --balance 1000000000000000000 #-b 2
    healthcheck:
      test: ["CMD", "nc", "-vz", "127.0.0.1", "8545"]
      interval: 2s
      timeout: 10s
      retries: 3

  arbitrum-stub:
    image: ghcr.io/foundry-rs/foundry:nightly-2f4b5dbe7f04d974bf99625325200d214089ee66
    platform: linux/amd64
    ports:
      - 8546:8546
    entrypoint: anvil
    command: --host 0.0.0.0 --disable-block-gas-limit  --balance 1000000000000000000 --port 8546
    healthcheck:
      test: ["CMD", "nc", "-vz", "127.0.0.1", "8546"]
      interval: 2s
      timeout: 10s
      retries: 3
  
  node-alice:
    image: mangatasolutions/rollup-node:${MANGATA_NODE_VERSION:-eth-rollup-develop}
    platform: linux/amd64
    command: 
      - --alith
      - --chain=rollup-local-seq
      - --base-path=/data
      - --rpc-cors=all
      - --unsafe-rpc-external
      - --node-key=0000000000000000000000000000000000000000000000000000000000000001
      - --pruning=archive
    ports:
      - 9944:9944
      - 30333:30333
  
  node-bob:
    image: mangatasolutions/rollup-node:${MANGATA_NODE_VERSION:-eth-rollup-develop}
    platform: linux/amd64
    command: 
      - --baltathar
      - --chain=rollup-local-seq
      - --base-path=/data
      - --rpc-cors=all
      - --unsafe-rpc-external
      - --bootnodes=/dns/node-alice/tcp/30333/p2p/12D3KooWEyoppNCUx8Yx66oV9fJnriXwCcXwDDUA2kj6vnc6iDEp
      - --pruning=archive
    ports:
      - 9946:9944
