.git
.github
devops
launch
scripts
workflows
Makefile
Tiltfile
**/*.txt
**/*.md
./docker-cargo
Dockerfile
compose.yml
.gitignore
.dockerignore

tmp
benchmarks
chains
**/chains/
./target/*
./docker-cargo/*
node_modules

target
target-*
!**/release/rollup-node
!**/release/wbuild/rollup-runtime/rollup_runtime.compact.compressed.wasm
!docker-cargo/release/rollup-node

# dotfiles in the repo root
/.*

# buildkit-cache-dance ignores
buildkit-cache-dance-*
scratch
usr-local-cargo-registry
usr-local-cargo-git
app-target

.moon/cache
moon.yml

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# Ignore linked e2e tests directory
gasp-e2e

*-buildkit-metadata.json