services:
  avs-finalizer:
    image: mangatasolutions/avs-finalizer:${AVS_FINALIZER_VERSION:-local}
    restart: unless-stopped
    build:
      context: .
      dockerfile: src/bin/Dockerfile
      platforms: [linux/amd64]
      args:
        - BINARY_PATH=${AVS_FINALIZER_BINARY_PATH:-target/release/main}
    depends_on:
      anvil:
        condition: service_healthy
      #avs-3:
        #condition: service_completed_successfully
    platform: linux/amd64
    environment:
      - RUST_LOG=info
      - ETH_RPC_URL=${ETH_RPC_URL:-http://anvil:8545}
      - ETH_WS_URL=${ETH_WS_URL:-ws://anvil:8545}
      - CHAIN_ID=31337
      - SUBSTRATE_RPC_URL=${SUBSTRATE_RPC_URL:-ws://collator-01:9944}
      - AVS_RPC_URL=${AVS_RPC_URL:-http://avs-aggregator:8090}
      - AVS_REGISTRY_COORDINATOR_ADDR=0xa82fF9aFd8f496c3d6ac40E2a0F282E47488CFc9
      - TESTNET=true
      - ECDSA_EPHEMERAL_KEY=true
      - BLS_EPHEMERAL_KEY=true
  
