remoteCluster: true

blockscoutEnabled: true
enableArbitrumServices: true

####################
# evm-node configs #
####################
evmNode:
  enabled: true

#####################
# collator configs #
#####################
collatorsEnabled: true
collator:
  image:
    repository: mangatasolutions/rollup-node
    tag: eth-rollup-develop
  chain: rollup-local-seq
  disableChainspecGeneration: true
  customChainspecUrl: https://raw.githubusercontent.com/mangata-finance/chainspec/e6dbb96641a79a8d77c2ce79c20c1ed598958f00/rollup-dev-env-chainspecs/rollup-dev-4d76522-chainspec-raw.json
  storageClass: standard
  storageSize: 20Gi
  enableServiceMonitorCollectors: true
  wsHealthExporter:
    enabled: true
    image: paritytech/ws-health-exporter:bc071a44-20230830
    env:
      WSHE_NODE_MIN_PEERS: 2
  tolerations:
    - key: production
      operator: Equal
      value: 'true'
      effect: NoSchedule
  collator01:
    # Identity ID: 12D3KooWMSVfmcTo6q4nnb9Pw9WFjPh3hW1sqjNi5dUhWDzuKFdj
    customNodeKey: '749be7f7de592c01db098afb95cb121961ce025e92d8ffeaabb377057cd01555'
    bootnodeAddr: /dns/collator-02-p2p/tcp/30333/p2p/12D3KooWLdCNsgrzW8BiFFwSSxWi8nTp8SNZHTTL9x8Ceokq8quV
    extraArgs:
      - --alith
      - --pruning=archive
    nodeSelector: 
      production: 'true'
  collator02:
    # Identity ID: 12D3KooWLdCNsgrzW8BiFFwSSxWi8nTp8SNZHTTL9x8Ceokq8quV
    customNodeKey: '96d1ece760b2038230f1e78449e879e34e2de637b89a7bbedc22ade73f9c2009'
    bootnodeAddr: /dns/collator-01-p2p/tcp/30333/p2p/12D3KooWMSVfmcTo6q4nnb9Pw9WFjPh3hW1sqjNi5dUhWDzuKFdj
    extraArgs:
      - --baltathar
      - --pruning=archive
    nodeSelector: 
      production: 'true'


####################
# evm-node configs #
####################
envEth:
  # rpc
  ETH_RPC_URL: http://evm-node-eth:8545
  ETH_WS_URL: ws://evm-node-eth:8546
  SUBSTRATE_RPC_URL: ws://collator-01:9944
  # contracts
  CHAIN_ID: "1337"
  AVS_REGISTRY_COORDINATOR_ADDR: 0x851356ae760d987E095750cCeb3bC6014560891C
  # AVS
  AVS_SERVER_IP_PORT_ADDRESS: 0.0.0.0:8090
  AVS_BLOCK_VALIDATION_PERIOD: "5"
  # OP
  RUST_LOG: info
  AVS_RPC_URL: http://avs-aggregator:8090
  TESTNET: "true"
  ECDSA_EPHEMERAL_KEY: "true"
  BLS_EPHEMERAL_KEY: "true"

envArb:
  # rpc
  ETH_RPC_URL: http://evm-node-arb:8545
  ETH_WS_URL: ws://evm-node-arb:8546
  SUBSTRATE_RPC_URL: ws://collator-01:9944
  # contracts
  CHAIN_ID: "1337"
  AVS_REGISTRY_COORDINATOR_ADDR: 0x851356ae760d987E095750cCeb3bC6014560891C
  # AVS
  AVS_SERVER_IP_PORT_ADDRESS: 0.0.0.0:8090
  AVS_BLOCK_VALIDATION_PERIOD: "5"
  # OP
  RUST_LOG: info
  AVS_RPC_URL: http://avs-aggregator-eth:8090
  TESTNET: "true"
  ECDSA_EPHEMERAL_KEY: "true"
  BLS_EPHEMERAL_KEY: "true"

######################
# aggregator configs #
######################
aggregatorEnabled: true
# tests/keys/aggregator.ecdsa.key.json
aggregatorEnvSecrets:
  ECDSA_KEY_JSON: '{"address":"a0ee7a142d267c1f36714e4a8f75612f20a79720","crypto":{"cipher":"aes-128-ctr","ciphertext":"b0f6f8e3ba33f0b382b080de6661d827181de480f1a4f94bc20d66cb3d585907","cipherparams":{"iv":"4e3f9a8ca6ef8d1cd408e8aaae3c22d2"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":262144,"p":1,"r":8,"salt":"c8f9f8cc03913e09cee7e1fd68732fac327576203ab277d740270f1dea82ee7e"},"mac":"353d65850b20d5fdb90ca2385c52e5b57662cb1d906fd58143f20a7720723cf6"},"id":"d3036cc7-d068-4f2f-9667-60aaca660e61","version":3}'

#####################
# finalizer configs #
#####################
finalizerEnabled: true
finalizerEnableServiceMonitorCollectors: true
finalizerEnvSecrets: {}

###########################
# rollup-updater configs #
###########################
updaterEnabled: true

updaterChainUrlEth: ws://evm-node-eth:8546
updaterMnemonicEth: "ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
updaterEnvEth:
  CHAIN: "reth"
  L1_CHAIN: "Ethereum"
  MANGATA_NODE_URL: ws://collator-01:9944
  EIGEN_CONTRACT_ADDRESS: "0x1613beB3B2C4f22Ee086B2b38C1476A3cE7f78E8"
  MANGATA_CONTRACT_ADDRESS: "0x7bc06c482DEAd17c0e297aFbC32f6e63d3846650"
  FINALIZATION_SOURCE: "relay"

updaterChainUrlArb: ws://evm-node-arb:8546
updaterMnemonicArb: "ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
updaterEnvArb:
  CHAIN: "reth"
  L1_CHAIN: "Arbitrum"
  MANGATA_NODE_URL: ws://collator-01:9944
  EIGEN_CONTRACT_ADDRESS: "0x1613beB3B2C4f22Ee086B2b38C1476A3cE7f78E8"
  MANGATA_CONTRACT_ADDRESS: "0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9"
  FINALIZATION_SOURCE: "relay"


############################
# rollup-sequencer configs #
############################
sequencerEnabled: true
secondSequencerEnabled: true


firstSequencerMnemonicEth: "0x8075991ce870b93a8870eca0c0f91913d12f47948ca0fd25b49c6fa7cdbeee8b"
secondSequencerMnemonicEth: "bottom drive obey lake curtain smoke basket hold race lonely fit walk//Bob"
sequencerChainUrlEth: ws://evm-node-eth:8546
sequencerEnvEth:
  L1_CHAIN: "Ethereum"
  MANGATA_NODE_URL: ws://collator-01:9944
  MANGATA_CONTRACT_ADDRESS: "0x7bc06c482DEAd17c0e297aFbC32f6e63d3846650"

firstSequencerMnemonicArb: "0x0b6e18cafb6ed99687ec547bd28139cafdd2bffe70e6b688025de6b445aa5c5b"
secondSequencerMnemonicArb: "bottom drive obey lake curtain smoke basket hold race lonely fit walk//Bob"
sequencerChainUrlArb: ws://evm-node-arb:8546
sequencerEnvArb:
  CHAIN: "reth"
  L1_CHAIN: "Arbitrum"
  MANGATA_NODE_URL: ws://collator-01:9944
  MANGATA_CONTRACT_ADDRESS: "0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9"
