remoteCluster: true

anvilEnabled: false
aggregatorEnabled: true
finalizerEnabled: true
updaterEnabled: false
sequencerEnabled: false

env:
  # rpc
  SUBSTRATE_RPC_URL: wss://collator-02-ws-rollup-testnet.mangata.online:443
  # contracts
  CHAIN_ID: '"5"'
  AVS_REGISTRY_COORDINATOR_ADDR: 0x5620cDb94BaAaD10c20483bd8705DA711b2Bc0a3
  # AVS
  AVS_SERVER_IP_PORT_ADDRESS: 0.0.0.0:8090
  # every 25th block, ~ 5min
  AVS_BLOCK_VALIDATION_PERIOD: '"25"'
  # every 50th task, ~ 4h
  AVS_KICK_PERIOD: '"50"'
  # every 300th task, ~ daily
  AVS_UPDATE_STAKE_PERIOD: '"300"'
    # OP
  AVS_RPC_URL: https://avs-aggregator-testnet.mangata.online
  RUST_LOG: avs=debug

aggregatorEnvSecrets:
  ECDSA_KEY_JSON: ref+gcpsecrets://direct-pixel-353917/eigen-goerli-aggregator-ecdsa-key
  ECDSA_KEY_PASSWORD: ref+gcpsecrets://direct-pixel-353917/eigen-goerli-aggregator-ecdsa-password
  ETH_RPC_URL: ref+gcpsecrets://direct-pixel-353917/eigen-goerli-rpc-url
  ETH_WS_URL: ref+gcpsecrets://direct-pixel-353917/eigen-goerli-ws-url

finalizerEnableServiceMonitorCollectors: true
finalizerEnvSecrets:
  ECDSA_KEY_JSON: ref+gcpsecrets://direct-pixel-353917/eigen-goerli-operator-1-ecdsa-key
  ECDSA_KEY_PASSWORD: ref+gcpsecrets://direct-pixel-353917/eigen-goerli-operator-1-ecdsa-password
  BLS_KEY_JSON: ref+gcpsecrets://direct-pixel-353917/eigen-goerli-operator-1-bls-key
  BLS_KEY_PASSWORD: ref+gcpsecrets://direct-pixel-353917/eigen-goerli-operator-1-bls-password
  ETH_RPC_URL: ref+gcpsecrets://direct-pixel-353917/eigen-goerli-rpc-url
  ETH_WS_URL: ref+gcpsecrets://direct-pixel-353917/eigen-goerli-ws-url


updaterEthChainUrl: ref+gcpsecrets://direct-pixel-353917/eigen-mangata-updater-ethereum-rpc-url
updaterEnv:
  MANGATA_NODE_URL: wss://collator-01-ws-rollup-testnet.mangata.online
  MANGATA_CONTRACT_ADDRESS: "0x5f3f1dbd7b74c6b46e8c44f98792a1daf8d69154"

sequencerEthChainUrl: ref+gcpsecrets://direct-pixel-353917/eigen-mangata-updater-ethereum-rpc-url
sequencerEnv:
  MANGATA_NODE_URL: wss://collator-01-ws-rollup-testnet.mangata.online
  MANGATA_CONTRACT_ADDRESS: "0x5f3f1dbd7b74c6b46e8c44f98792a1daf8d69154"
