services:
  avs-aggregator:
    image: mangatasolutions/avs-aggregator:${AVS_AGGREGATOR_VERSION:-local}
    restart: unless-stopped
    build:
      context: ../
      dockerfile: avs-aggregator/cmd/Dockerfile
    environment:
      - ETH_RPC_URL=${ETH_RPC_URL:-http://anvil:8545}
      - ETH_WS_URL=${ETH_WS_URL:-ws://anvil:8545}
      - SUBSTRATE_RPC_URL=${SUBSTRATE_RPC_URL:-ws://collator-01:9944}
      - CHAIN_ID=31337
      - AVS_SERVER_IP_PORT_ADDRESS=0.0.0.0:8090
      - AVS_BLOCK_VALIDATION_PERIOD=5
      - AVS_REGISTRY_COORDINATOR_ADDR=0x9E545E3C0baAB3E08CdfD552C960A1050f373042
      - ECDSA_KEY_JSON={"address":"a0ee7a142d267c1f36714e4a8f75612f20a79720","crypto":{"cipher":"aes-128-ctr","ciphertext":"b0f6f8e3ba33f0b382b080de6661d827181de480f1a4f94bc20d66cb3d585907","cipherparams":{"iv":"4e3f9a8ca6ef8d1cd408e8aaae3c22d2"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":262144,"p":1,"r":8,"salt":"c8f9f8cc03913e09cee7e1fd68732fac327576203ab277d740270f1dea82ee7e"},"mac":"353d65850b20d5fdb90ca2385c52e5b57662cb1d906fd58143f20a7720723cf6"},"id":"d3036cc7-d068-4f2f-9667-60aaca660e61","version":3}
      - TESTNET=true
      - ECDSA_EPHEMERAL_KEY=true
      - BLS_EPHEMERAL_KEY=true
  