services:
  eth-contracts-deployment:
    image: mangatasolutions/avs-contract:local
    platform: linux/amd64
    build: .
    depends_on:
      - eth-stub
    command:
      - script
      - script/MultiStage.s.sol
      - --rpc-url
      - http://eth-stub:8545
      - --private-key
      - '0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80'
      - --broadcast
      - -v
    environment:
      ENV_SELECTOR: ethereum-stub

  arbitrum-contracts-deployment:
    image: mangatasolutions/avs-contract:local
    platform: linux/amd64
    build: .
    depends_on:
      - arbitrum-stub
    command:
      - script
      - script/MultiStage.s.sol
      - --rpc-url
      - http://arbitrum-stub:8546
      - --private-key
      - '0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80'
      - --broadcast
    environment:
      ENV_SELECTOR: arbitrum-stub
