on:
  workflow_call:
    inputs:
      rust-version:
        type: string
        required: false
        default: 1.78.0
      version:
        description: Version to be assigned to the built image
        required: true
        type: string
      cache-version:
        default: 1
        description: Cache version variable to be used to invalidate cache when needed
        required: false
        type: number
      cache-enabled:
        default: true
        description: Enable caching
        required: false
        type: boolean

env:
  SKIP_WASM_BUILD: 1

jobs:
  rust-fmt-check:
    name: Formatting check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ inputs.rust-version }}
          override: true
          components: rustfmt, clippy
      - uses: arduino/setup-protoc@v3
      - name: Check formatting
        working-directory: avs-finalizer
        run: cargo fmt --all -- --check

  clippy-check:
    name: Clippy check
    runs-on: compile-eigen-gke
    env:
      JOB_CACHE_PREFIX: cargo-rollup-clippy-job-build-cache-${{ inputs.cache-version }}
      CACHE_ARCHIVE_NAME: cache_archive.tar.zst
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ inputs.rust-version }}
          override: true
          components: rustfmt, clippy
      - uses: arduino/setup-protoc@v3

      - uses: google-github-actions/auth@v2
        id: auth
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: Download cargo build cache
        if: inputs.cache-enabled
        id: cache
        run: |
          CACHE_KEY="${{ env.JOB_CACHE_PREFIX }}-${{ hashFiles('**/Cargo.lock') }}"
          ARCHIVE_NAME="${{ env.CACHE_ARCHIVE_NAME }}"
          CACHE_FOUND=false
      
          if gcloud storage cp "gs://mangata-node-ci-cache/${CACHE_KEY}/${ARCHIVE_NAME}" - | zstd -d | tar -xf - -C /; then CACHE_FOUND=true; fi
      
          echo "cache_found=${CACHE_FOUND}\ncache_key=${CACHE_KEY}" >> $GITHUB_OUTPUT

      - name: Run sccache-cache only on non-release runs
        if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: Set Rust caching env vars only on non-release runs & skip wasm
        if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV

      - name: Run clippy check
        working-directory: avs-finalizer
        run: cargo clippy -- -D warnings

      - name: Upload cargo build cache
        if: inputs.cache-enabled && steps.cache.outputs.cache_found == 'false' && success()
        run: |
          CACHE_KEY="${{ steps.cache.outputs.cache_key }}"
          ARCHIVE_NAME="${{ env.CACHE_ARCHIVE_NAME }}"
          CACHE_PATHS=(
            "${{ github.workspace }}/avs-finalizer/target"
            "$HOME/.cargo/bin/"
            "$HOME/.cargo/registry/index/"
            "$HOME/.cargo/registry/cache/"
            "$HOME/.cargo/git/db/"
          )

            SECONDS=0; tar -cf - "${CACHE_PATHS[@]}" | zstd -T0 -19 > "${ARCHIVE_NAME}"
            echo "Compression completed in $SECONDS seconds" && echo "Archive size: $(du -h "${ARCHIVE_NAME}" | cut -f1)"

            SECONDS=0; gcloud storage cp "${ARCHIVE_NAME}" "gs://mangata-node-ci-cache/${CACHE_KEY}/${ARCHIVE_NAME}"
            echo "Upload completed in $SECONDS seconds"

  tests:
    name: Run tests
    runs-on: compile-eigen-gke
    env:
      JOB_CACHE_PREFIX: cargo-rollup-tests-job-cache-${{ inputs.cache-version }}
      CACHE_ARCHIVE_NAME: cache_archive.tar.zst
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ inputs.rust-version }}
          override: true
          components: rustfmt, clippy
      - uses: arduino/setup-protoc@v3

      - uses: google-github-actions/auth@v2
        id: auth
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: Download cargo build cache
        if: inputs.cache-enabled
        id: cache
        run: |
          CACHE_KEY="${{ env.JOB_CACHE_PREFIX }}-${{ hashFiles('**/Cargo.lock') }}"
          ARCHIVE_NAME="${{ env.CACHE_ARCHIVE_NAME }}"
          CACHE_FOUND=false
      
          if gcloud storage cp "gs://mangata-node-ci-cache/${CACHE_KEY}/${ARCHIVE_NAME}" - | zstd -d | tar -xf - -C /; then CACHE_FOUND=true; fi
      
          echo "cache_found=${CACHE_FOUND}\ncache_key=${CACHE_KEY}" >> $GITHUB_OUTPUT
      
      - name: Run sccache-cache only on non-release runs
        if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: Set Rust caching env vars only on non-release runs & skip wasm
        if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV

      - name: Run tests
        working-directory: avs-finalizer
        run: cargo test

      - name: Upload cargo build cache
        if: inputs.cache-enabled && steps.cache.outputs.cache_found == 'false' && success()
        run: |
          CACHE_KEY="${{ steps.cache.outputs.cache_key }}"
          ARCHIVE_NAME="${{ env.CACHE_ARCHIVE_NAME }}"
          CACHE_PATHS=(
            "${{ github.workspace }}/avs-finalizer/target"
            "$HOME/.cargo/bin/"
            "$HOME/.cargo/registry/index/"
            "$HOME/.cargo/registry/cache/"
            "$HOME/.cargo/git/db/"
          )
      
            SECONDS=0; tar -cf - "${CACHE_PATHS[@]}" | zstd -T0 -19 > "${ARCHIVE_NAME}"
            echo "Compression completed in $SECONDS seconds" && echo "Archive size: $(du -h "${ARCHIVE_NAME}" | cut -f1)"
      
            SECONDS=0; gcloud storage cp "${ARCHIVE_NAME}" "gs://mangata-node-ci-cache/${CACHE_KEY}/${ARCHIVE_NAME}"
            echo "Upload completed in $SECONDS seconds"

  build-avs-finalizer-image:
    name: Build avs-finalizer Docker image
    runs-on: compile-eigen-gke
    env:
      JOB_CACHE_PREFIX: cargo-rollup-image-build-job-cache-${{ inputs.cache-version }}
      CACHE_ARCHIVE_NAME: cache_archive.tar.zst
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ inputs.rust-version }}
          override: true
          components: rustfmt, clippy
      - uses: arduino/setup-protoc@v3

      - uses: google-github-actions/auth@v2
        id: auth
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: Download cargo build cache
        if: inputs.cache-enabled
        id: cache
        run: |
          CACHE_KEY="${{ env.JOB_CACHE_PREFIX }}-${{ hashFiles('**/Cargo.lock') }}"
          ARCHIVE_NAME="${{ env.CACHE_ARCHIVE_NAME }}"
          CACHE_FOUND=false

          if gcloud storage cp "gs://mangata-node-ci-cache/${CACHE_KEY}/${ARCHIVE_NAME}" - | zstd -d | tar -xf - -C /; then CACHE_FOUND=true; fi

          echo "cache_found=${CACHE_FOUND}\ncache_key=${CACHE_KEY}" >> $GITHUB_OUTPUT

      - name: Run sccache-cache only on non-release runs
        if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: Set Rust caching env vars only on non-release runs & skip wasm
        if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV

      - name: Run cargo build
        working-directory: avs-finalizer
        run: cargo build --release
      
      - name: Create Docker image
        working-directory: avs-finalizer
        run: |
          docker login -u ${{ secrets.ORG_DOCKERHUB_USERNAME }} -p ${{ secrets.ORG_DOCKERHUB_TOKEN }}
          docker buildx create --use
          docker buildx build --push --platform linux/amd64 -t mangatasolutions/avs-finalizer:${{ inputs.version }} -f src/bin/Dockerfile .
              
      - name: Upload cargo build cache
        if: inputs.cache-enabled && steps.cache.outputs.cache_found == 'false' && success()
        run: |
          CACHE_KEY="${{ steps.cache.outputs.cache_key }}"
          ARCHIVE_NAME="${{ env.CACHE_ARCHIVE_NAME }}"
          CACHE_PATHS=(
            "${{ github.workspace }}/avs-finalizer/target"
            "$HOME/.cargo/bin/"
            "$HOME/.cargo/registry/index/"
            "$HOME/.cargo/registry/cache/"
            "$HOME/.cargo/git/db/"
          )

            SECONDS=0; tar -cf - "${CACHE_PATHS[@]}" | zstd -T0 -19 > "${ARCHIVE_NAME}"
            echo "Compression completed in $SECONDS seconds" && echo "Archive size: $(du -h "${ARCHIVE_NAME}" | cut -f1)"

            SECONDS=0; gcloud storage cp "${ARCHIVE_NAME}" "gs://mangata-node-ci-cache/${CACHE_KEY}/${ARCHIVE_NAME}"
            echo "Upload completed in $SECONDS seconds"
