name: Build and test

on:
  workflow_call:
    inputs:
      version:
        description: Version to be assigned to the built image
        required: true
        type: string

permissions:
  contents: read
  id-token: write

jobs:
  build-aggregator-image:
    name: Build aggregator Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker login -u ${{ secrets.ORG_DOCKERHUB_USERNAME }} -p ${{ secrets.ORG_DOCKERHUB_TOKEN }}
          docker buildx create --use
          docker buildx build --push --platform linux/amd64,linux/arm64 -t mangatasolutions/aggregator:${{ inputs.version }} -f aggregator/cmd/Dockerfile .
  build-operator-image:
    name: Build operator Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker login -u ${{ secrets.ORG_DOCKERHUB_USERNAME }} -p ${{ secrets.ORG_DOCKERHUB_TOKEN }}
          docker buildx create --use
          docker buildx build --push --platform linux/amd64 -t mangatasolutions/operator:${{ inputs.version }} -f operator_v2/src/bin/Dockerfile .
          # docker buildx build --push --platform linux/arm64 -t mangatasolutions/operator:${{ inputs.version }} -f operator_v2/src/bin/Dockerfile .
  build-mangata-updater-image:
    name: Build mangata-updater Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker login -u ${{ secrets.ORG_DOCKERHUB_USERNAME }} -p ${{ secrets.ORG_DOCKERHUB_TOKEN }}
          docker buildx create --use
          # docker buildx build --push --platform linux/amd64,linux/arm64 -t mangatasolutions/mangata-updater:${{ inputs.version }} ./mangata-updater
          docker buildx build --push --platform linux/amd64 -t mangatasolutions/mangata-updater:${{ inputs.version }} ./mangata-updater
  build-mangata-sequencer-image:
    name: Build mangata-sequencer Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker login -u ${{ secrets.ORG_DOCKERHUB_USERNAME }} -p ${{ secrets.ORG_DOCKERHUB_TOKEN }}
          docker buildx create --use
          # docker buildx build --push --platform linux/amd64,linux/arm64 -t mangatasolutions/mangata-sequencer:${{ inputs.version }} ./mangata-sequencer
          docker buildx build --push --platform linux/amd64 -t mangatasolutions/mangata-sequencer:${{ inputs.version }} ./mangata-sequencer
